:root {
    --text-white: white;
    --text-black: black;
    --light-blue: #005792;
    --dark-blue: #00204a;
    --light-brown: #917c81;
    --light-gray: #3d3c38;
    --input-green: #899c8c;
    --input-light: #5585b5;
}
.text-white {
    color: var(--text-white);
}
.text-black {
    color: var(--text-black);
}
.bg-blue {
    background-color: var(--light-blue);
}
.bg-blue-dark {
    background-color: var(--dark-blue);
}
.bg-brown {
    background-color: var(--light-brown);
}
.text-brown {
    color: var(--light-brown);
}
.text-gray {
    color: var(--light-gray);
}
.bg-input-green {
    background-color: var(--input-green);
}
.bg-input-light {
    background-color: var(--input-light);
}
h1,h2,h3 {
    font-family: 'Montserrat-Bold';
}